@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-default: "#e9e7e0";
  --border-accent: "#054a93";
  --fg-Accent: "#0056b3";
  --fg-default: "rgb(0 0 0 / 75%)";
  --fg-muted: "rgb(0 0 0 / 65%)";
  --fg-subtle: "rgb(0 0 0 / 60%)";
  --bg-accent: "#0056b3";
  --bg-default: "#fff";
  --bg-canvas: "#e9e7e0";
  --bg-progress: "#14bd41";
  --bg-subtle: "#fafafa";
  --fg-inverse: "rgb(255 255 255 / 75%)";
  --bg-inverse: "rgb(255 255 255 / 75%)";
  --fg-emphasis: "rgb(0 0 0 / 95%)";
  --bg-stripe: "#f7f5f3";
  --image-filter: "initial";
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-default: "#484745";
    --border-accent: "#499ef8";
    --fg-accent: "#499ef8";
    --fg-default: "rgb(255 255 255 / 75%)";
    --fg-muted: "rgb(255 255 255 / 65%)";
    --fg-subtle: "rgb(255 255 255 / 60%)";
    --bg-accent: "#0056b3";
    --bg-default: "#322f2f";
    --bg-canvas: "#484745";
    --bg-progress: "#379634";
    --bg-subtle: "#373434";
    --bg-inverse: "#322f2f";
    --fg-emphasis: "rgb(255 255 255 / 95%)";
    --bg-stripe: "#3C393A";
    --image-filter: "brightness(0.8) contrast(1.2)";
  }
}

img {
  filter: imageFilter;
}
